*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html{
	width:100vw;
background-image: url(images/DNA_small.svg);
overflow-x:hidden;
overflow-y:scroll;
scroll-behavior: smooth;
}
body{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #014e68bf, #0a839deb);
    width:100vw;
height: 100vh;
overflow-x: hidden;
font-family: 'Noto Serif Georgian', sans-serif;

}
header{
    background: #114754;
color:white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 99999;
}
.logo{
    width:100px;
    margin-right: auto;
margin-left: auto;
}
header div p{
    font-size: clamp(1rem,3.5vw,25px);
    display: inline-block;
    margin-right: auto;
width: 40%;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	background: radial-gradient(circle at 21% 52px,#00000038 7px,transparent 177px);
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    flex-wrap: wrap;
    box-shadow: -2px 1px 15px 1px #0000007d;
}

.section2,.section3,.section4{
    background-color: #18365c8c;
    color: white;
    font-size: 25px;
    flex-direction: column;
}
.section3{
    background-color: #2a006e40;
}
.section2 .content,.section3 .content,.section4 .content{
    color: black;
    font-size: clamp(1rem,5vw,25px);
    margin: 0;
    box-sizing: border-box;
    width: 90%;
    max-width: 1300px;
    margin-top: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    background: #c2e7e9;
}
.section2 .content p,.section3 .content p{
    padding:5px 0;
}
.test img{
    display: inline-block;
    width:20px;
    margin-right: 5px;
}
.test-price img{
    margin:0;
}
.timings{
    padding-right: calc( 1em + 5px);
}
.test-title,.test-price{
    text-align: center;
}
.center{
    text-align: center;
}
.bottom{
    padding: 40px 0;
    margin-top:auto;
    bottom:0;
}
.test.pcr{
    transform: translate(-70%);
}
.test.antigen{
    transform: translate(70%);

}
.test{
    font-size: clamp(1rem,5vw,25px);
    border: 1px solid;
    min-width:30%;
    min-height: 30%;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 16px 3px #0301169c;
    opacity: 0;
    animation: move 1s ease-out forwards;
    border-radius: 8px;
    background: #def7fdfc;
    flex-basis: 400px;
}


@keyframes move {
    to{
        opacity: 1;
        transform: translate(0);
       
    }
    
}

.test p{
    margin:20px;
    position: relative;
}
.content p{
    position:relative;
    clear:both
}
.content  p:nth-child(1){
	margin-bottom:10px;
}
.content:hover  p:nth-child(1):after{
    content:'';
    position:absolute;
    left:50%;
    width:0;
    bottom:-8px;
    height:2px;
    background:#1488b5;
    animation:grow 0.5s ease-in-out forwards
}
@keyframes grow{
    to{
        width:100%;
        left:0;
    }
}

#plane{
     display: inline-block;
    position: absolute;
    transform: translate(-67vw, -30vh) rotate(45deg);
    max-width: 200px;
    width: 10vw;
    margin-left: 20px;
}
.plane-animation{
    animation: plane 2s ease-out  forwards;
}
@keyframes plane {
    to{
        transform: none;
        width: 60px;
       
    }
    
}
.corona{
    position: absolute;
    top: 0;
    left: 0;
z-index: -1;
width:159px;
transition: 1.5s ease-in-out;
}
.tab-content{
    max-height: 0;
    transition: 0.6s linear;
    padding-left: 50px;
    background-color: #c2e7e9;
}
.tab{
    overflow: hidden;
    padding-top: 15px;
    background-color: #04040412;
    margin: 15px 0px;
}
.tab-label{
    padding-left: 50px;
    position: relative;
    margin-bottom: 0.5em;
    display: inline-block;
}
.tab-label::before{
    transition: 0.1s linear;
    content: '';
    position: absolute;
    color: #dd2214;
    font-size: 25px;
    left: 5px;
    border: 10px solid;
    width: 15px;
    height: 15px;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
  input:checked + .tab-label::before {
    transform: rotate(135deg);
    transition: 0.5s linear;
  }
  input:checked ~ .tab-content {
    max-height: 400px;
     
  }
  input{
      display: none;
  }
  .links{
      text-decoration: none;
      color:black;
      position: relative;
  }
.links::after{
    content:'';
    position:absolute;
    left:50%;
    width:0;
    bottom:-8px;
    height:2px;
    background:#1488b5;
    transition:0.5s ease-in-out
}
.links:hover::after{
    width:100%;
    left:0;
}
