*{
    margin:0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: worksans-extralight;
    src: url('static/fonts/WorkSans-ExtraLight.otf');
}
html,body{
    width:100%;
    height:100%;
}
header{
    font-family: 'Noto Serif Georgian', sans-serif;
    margin: 0;
    padding: 0;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background: white;
    z-index: 1;
    }
section{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
#section1{
    flex-direction: column;

}
#section2{
    gap: 10%;
    background: linear-gradient(
180deg, #ffffff00 57%, #ffffff),linear-gradient(
90deg, #81cffd36 29%, #00fbc600);
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    border-radius: 20px;
}
#section2 h2{
    color: #4474ec;
    margin-bottom: 30px;
text-align: center;

}
#section3 p{
    color:rgb(68,116,236);
    font-weight: bold;
    font-size: 50px;
    margin: 100px 0;
}
#section3 img{
    border-radius: 50%;
    flex-shrink: 1;
    width: 250px;
}
#section3{
    flex-direction: column;
    background: #f0f0f0;
    padding-bottom:50px;

}
#section3 div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}
.about{
    
        max-width: 598px;
        box-shadow: 4px 10px 20px 3px #00000029;
        background: white;
        font-size: 25px;
        padding: 26px;
        margin:20px;
        border-radius: 12px;
        font: normal normal normal 27px/1.375em worksans-extralight,'work sans',sans-serif;
        line-height: 37px;
        text-align: center;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
}
.card{
    margin-top: 50px;
    position: relative;
    box-shadow: 4px 10px 20px 3px #00000029;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 445px;
    max-width: 500px;
}

.card-price,.card-title{
    font-size: 25px;
}
.card-title{
    font:normal normal normal 28px/1.375em worksans-extralight,'work sans',sans-serif;
    color:#4474ec;
    font-weight:bold;
    margin: 10px 0;
}
ul{
    margin-bottom: 70px;
}
.card li,.tel{
    padding: 5px;
    font-size: 20px;
    font: normal normal normal 18px/1.75em worksans-extralight,'work sans',sans-serif;
    font-weight: bold;
}
.tel{
    display: inline-block;
    padding: 10px;
    background: rgba(68, 116, 236, 1);
    text-decoration: none;
    color: white;
    border-radius: 8px;
    
}
.card img{
    width: 220px;
    border-radius: 50%;
    display: block;
    margin:auto
}
.tel img {
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 30px;
    height: 24px;
    border-radius: 0;
}

.logo {
    width: 100px;
    margin-right: auto;
    margin-left: 15%;
}
header div {
    display: flex;
    align-items: center;
    margin: auto;
}
header div p {
    font-size: clamp(1rem,3.5vw,25px);
    display: inline-block;
    width: calc(85% - 100px);
    text-align: center;
    padding-right: calc(15% + 100px);
}
.title{
    text-align: center;
    margin: 50px 0;
}
.title p{
    word-wrap: break-word;
    font: normal normal normal 50px/1.34em worksans-extralight,'work sans',sans-serif;
    color: #4474ec;
}
.center{
    text-align: center;
}

footer{
    font:normal normal normal 22px/1.41em worksans-extralight,'work sans',sans-serif;
    color:rgb(73,80,101);
    font-size: 25px;
    padding-bottom: 70px;
}